/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#rad .radio {
    -fx-border-width: 2px;
    -fx-border-color: #35a8e1;
    -fx-background-color: white;
    -fx-border-radius: 15px;
    
}

@font-face{
	
	font-family:CANDARA;
	src: url(../resources/fonts/CANDARA.TFF);
}

/* 
.lab1 {
    -fx-font-family: "CANDARA";
    -fx-font-size: 50;
}

.lab2 {
    -fx-font-family: "CANDARA";
    -fx-font-size: 50;
}
*/
#lab{
	-fx-font-family: CANDARA;
	-fx-font-size: 50;
}

